.card {
  @include flex-center;
  flex-direction: column;
  width: $card-width;
  padding: 15px 14px;

  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 11px;
  line-height: 13px;

  &__image {
    box-sizing: content-box;
    padding: 12px 0;
    align-self: center;
    width: 160px;
    height: 134px;
    border: 3px solid transparent;
    transition: transform 1s;

    &:hover {
      border-color: $border-color;
      transform: scale(1.2);
    }
  }

  &__title {
    margin: 30px 0 4px;
    height: 31px;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    line-height: 15px;
  }

  &__rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 21px 0;
  }

  &__coast {
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 17px;
  }

  &__button {
    @include flex-center;
    align-items: center;
    height: 40px;

    font-weight: $font-weight-bold;
    font-size: 14px;
    line-height: 16px;
    color: $main-color;

    border: 1px solid $step-color;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $step-color;
    border-radius: 5px;

    transition: background-color 1s, color 1s;

    &:hover {
      color: $step-color;
      background-color: $main-color;
    }
  }
}
